
<div class="container">
    <h1 >回执</h1>
    <hr />
    <% if (success) { %>
    <div class="alert alert-warning">
        <%= success %>
        <a href="#" class="close" data-dismiss="alert">&times;</a>
    </div>
    <% } %>
    感谢您的能给我真实的反馈：
    <br /><br />
    <form role="form" action="/product/callback" method="post" class="form-horizontal" style="width: 70%">
        <input hidden="hidden" id="company" name="company" value=<%=company%>>
        <div class="form-group">
            <label  class="control-label col-sm-3">是否能有面试机会？</label>
            <div class="col-sm-9">
                <label class="radio-inline">
                    <input type="radio" name="result" value="yes" checked> 有
                </label>
                <label class="radio-inline">
                    <input type="radio" name="result" value="no"> 无
                </label>
            </div>
        </div>
        <div class="form-group">
            <label for="msg" class="control-label col-sm-3">捎句话：</label>
            <div class="col-sm-9">
                <input type="text" id="msg"  class="form-control" name="msg" placeholder="填写您宝贵的建议？">
            </div>
        </div>
        <div align="center">
            <input type="submit"  class="btn btn-primary btn-sm" value="提交">
            <input type="reset" class="btn btn-default btn-sm" value="重置">
        </div>
    </form>
</div>
